In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
import pickle
import numpy as np

In [36]:
data = pd.read_pickle(r".\data\Validation_Clean.p")

In [37]:
validation_features = data.drop(["True_index","State_holiday"], axis=1)

In [38]:
gb_model = pickle.load(open(r".\models\gb_reg.p", "rb"))

In [39]:
pred = gb_model.predict(validation_features)

In [41]:
pred = pd.Series(pred)

In [58]:
predicted_sales = pd.concat([data, pred], axis=1)
predicted_sales.head()

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Holiday_Encoded,0
0,7,764,4,734894,0,0,0,c,1,1,-15.282058
1,19,22,3,734890,449,1,0,0,1,0,3763.353422
2,31,1087,6,734897,622,1,0,0,0,0,6301.439605
3,45,139,6,734885,314,1,0,0,0,0,3829.388283
4,56,568,1,735240,356,1,0,0,0,0,3759.947131

In [59]:
predicted_sales[0] = np.where(predicted_sales["Open"] == 0, 0, predicted_sales[0])
predicted_sales.head()

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Holiday_Encoded,0
0,7,764,4,734894,0,0,0,c,1,1,0.000000
1,19,22,3,734890,449,1,0,0,1,0,3763.353422
2,31,1087,6,734897,622,1,0,0,0,0,6301.439605
3,45,139,6,734885,314,1,0,0,0,0,3829.388283
4,56,568,1,735240,356,1,0,0,0,0,3759.947131

In [61]:
submit = predicted_sales[["True_index", 0]].rename(columns={0:"Predicted_Sales"})
submit.head()

   True_index  Predicted_Sales
0           7         0.000000
1          19      3763.353422
2          31      6301.439605
3          45      3829.388283
4          56      3759.947131

In [63]:
submit.to_csv(r".\PREDICTED.csv", index=False)